@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
   font-family: -apple-system,
                "Nanum Gothic",
                BlinkMacSystemFont, 
                "Segoe UI", 
                Roboto, 
                Oxygen-Sans, 
                Ubuntu, 
                Cantarell, 
                "Helvetica Neue", 
                sans-serif;
}

.card .list-group-item a {
    color: inherit;
    text-decoration: none;
}
